<div>
  <div class="filterWrapper">
    <form
      #statusForm="ngForm"
      class="filter"
      (submit)="filterStatuses(statusForm)"
    >
      <label for="status">Statuses</label><br />
      <input type="text" name="name" ngModel />
      <button type="submit">Filter Statuses</button>
    </form>
  </div>
  <br />
  <button (click)="openDialog()">Add Status</button>
  <div class="statusList" *ngFor="let status of statuses">
    <p>{{ status.name }}</p>
    <button (click)="openDialog(status)">Edit</button>
    <button (click)="onDeleteStatus(status._id)">Delete</button>
  </div>
</div>
