.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
}
.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.header {
  text-align: center;
  color: rgba(0, 0, 0, 0.89);
  font-weight: 400;
  margin-top: 36px;
}
form {
  display: flex;
  margin-top: 16px;
  margin-bottom: 36px;
}
.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userWrapper {
  margin: 0 auto;
  width: 1150px;
}
input {
  margin: 4px 0 10px 0;
  border: none;
  background: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  width: 120px;
  outline: none;
  border-radius: 5px;
  margin-right: 8px;
}
input:focus {
  border-bottom: 2px solid rgb(57, 181, 57);
  margin-bottom: 8px;
}
.buttonWrapper {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitButton {
  background-color: rgb(57, 181, 57);
  width: 120px;
  letter-spacing: 2px;
  font-size: 14px;
  height: 30px;
  color: white;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  margin-left: 8px;
}
.listBar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 50px;
  color: white;
  font-size: 14px;
  margin: 0 auto;
  width: 1130px;
  background-color: rgb(23, 151, 156);
  padding: 0 8px 0 8px;
  margin-bottom: 36px;
}
.email {
  width: 250px;
}
.listBar > span {
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.name {
  width: 200px;
  background-color: red;
}
.user {
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 36px;
  font-size: 14px;
  background-color: #f2f2f2;
}
.user > div {
  text-align: center;
  height: 36px;
  line-height: 36px;
}

.deleteButton {
  color: red;
  cursor: pointer;
  margin-left: 8px;
  padding-top: 8px;
}

.editButton {
  color: rgb(23, 151, 156);
  cursor: pointer;
  margin-left: 8px;
}
.status {
  display: flex;
  text-align: center;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.buttonWrapper {
  width: 100px;
}

.paginate {
  width: 100%;
  display: flex;
  position: relative;
  bottom: 24px;
  margin-top: 36px;
  justify-content: center;
}
