<div>
  <div class="filterWrapper">
    <form
      #categoryFrom="ngForm"
      class="filter"
      (submit)="filterCategories(categoryFrom)"
    >
      <label for="category">Statuses</label><br />
      <input type="text" name="name" ngModel />
      <button type="submit">Filter Categories</button>
    </form>
  </div>
  <br />
  <button (click)="openDialog()">Add Category</button>
  <div class="categoryList" *ngFor="let category of categories">
    <p>{{ category.name }}</p>
    <button (click)="openDialog(category)">Edit</button>
    <button (click)="onDeleteCategory(category._id)">Delete</button>
  </div>
</div>
