<div class="formWrapper">
  <form
    #addUserForm="ngForm"
    (ngSubmit)="addUserForm.form.valid && onSubmit(addUserForm)"
  >
    <h1>User Registration</h1>
    <div class="field">
      <label for="name">Name</label><br />
      <input
        #name="ngModel"
        required
        minlength="1"
        type="text"
        name="name"
        [ngModel]="user?.name"
      />
      <span
        *ngIf="(name.touched || addUserForm.submitted) && name.errors?.['required']"
        class="invalid"
        >Name is required</span
      >
    </div>
    <div>
      <label for="lastname">Lastname</label><br />
      <input
        #lastName="ngModel"
        required
        minlength="1"
        type="text"
        name="lastName"
        [ngModel]="user?.lastName"
      />
      <span
        *ngIf="(lastName.touched || addUserForm.submitted && lastName.untouched) && name.errors?.['required']"
        class="invalid"
        >Lastname is required</span
      >
    </div>
    <div>
      <label for="privatenumber">Privatenumber</label><br />
      <input
        #privateNumber="ngModel"
        required
        minlength="11"
        type="number"
        name="privateNumber"
        pattern="\d{10}"
        [ngModel]="user?.privateNumber"
      />

      <span
        *ngIf="(privateNumber.touched || addUserForm.submitted && privateNumber.untouched) && privateNumber.errors?.['required']"
        class="invalid"
        >Private number is required</span
      >
      <span
        *ngIf="(privateNumber.touched || addUserForm.submitted && privateNumber.untouched) && privateNumber.errors?.['pattern']"
        class="invalid"
        >Privatenumber must be 11 digit</span
      >
    </div>
    <div>
      <label for="email">Email</label><br />
      <input
        #email="ngModel"
        required
        minlength="1"
        type="text"
        name="email"
        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        [ngModel]="user?.email"
      />
      <span
        *ngIf="
          (email.touched || addUserForm.submitted && email.untouched) && email.errors?.['required']
        "
        class="invalid"
        >Email is required</span
      >
      <span
        *ngIf="
          (email.touched || addUserForm.submitted) && email.errors?.['pattern']
        "
        class="invalid"
        >Please enter valid email</span
      >
    </div>
    <div>
      <label for="birthDate">Birth Date</label><br />
      <input
        #birthDate="ngModel"
        required
        minlength="1"
        type="number"
        name="birthDate"
        [ngModel]="user?.birthDate"
        ngModel
      />
      <span
        *ngIf="(birthDate.touched || addUserForm.submitted && birthDate.untouched) && birthDate.errors?.['required']"
        class="invalid"
        >Birth date is required</span
      >
    </div>
    <div>
      <div>Category</div>
      <br />
      <select #category="ngModel" name="category" [ngModel]="user?.category">
        <option selected value="null" disabled>Options</option>
        <option *ngFor="let category of allCategories">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div>
      <div>Status</div>
      <br />
      <select #status="ngModel" name="status" [ngModel]="user?.status">
        <option selected value="null" disabled>Options</option>
        <option *ngFor="let status of allStatuses">
          {{ status.name }}
        </option>
      </select>
    </div>
    <br />
    <button class="submitButton" type="submit">Submit</button>
  </form>
</div>
