<div class="formWrapper">
  <form #addUser="ngForm" (ngSubmit)="onSubmit(addUser.value)">
    <h1>User Registration</h1>
    <div>
      <label for="name">Name</label><br />
      <input
        #name="ngModel"
        required
        minlength="1"
        type="text"
        name="name"
        ngModel
      />
      <span *ngIf="name.touched && name.invalid" class="invalid">Invalid</span>
    </div>
    <div>
      <label for="lastname">Lastname</label><br />
      <input
        #lastName="ngModel"
        required
        minlength="1"
        type="text"
        name="lastName"
        ngModel
      />
      <span *ngIf="lastName.touched && lastName.invalid" class="invalid"
        >Invalid</span
      >
    </div>
    <div>
      <label for="privatenumber">Privatenumber</label><br />
      <input
        #privateNumber="ngModel"
        required
        minlength="1"
        type="number"
        name="privateNumber"
        ngModel
      />

      <span
        *ngIf="privateNumber.touched && privateNumber.invalid"
        class="invalid"
        >Invalid</span
      >
    </div>
    <div>
      <label for="email">Email</label><br />
      <input
        #email="ngModel"
        required
        minlength="1"
        type="text"
        name="email"
        ngModel
      />
      <span *ngIf="email.touched && email.invalid" class="invalid"
        >Invalid</span
      >
    </div>
    <div>
      <label for="birthDate">Birth Date</label><br />
      <input
        #birthDate="ngModel"
        required
        minlength="1"
        type="number"
        name="birthDate"
        ngModel
      />
      <span *ngIf="birthDate.touched && birthDate.invalid" class="invalid"
        >Invalid</span
      >
    </div>
    <div>
      <select name="category">
        <option value="category" selected>Category</option>
      </select>
    </div>
    <div>
      <select>
        <option value="status" selected>Status</option>
      </select>
    </div>
    <button
      [disabled]="
        name.invalid ||
        email.invalid ||
        birthDate.invalid ||
        privateNumber.invalid
      "
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
